*{
    margin: 0;
    padding: 0;
}

.topheader{
    background-color: #353c3e;
    height: 80px;
}

.hotline{
    color:#959595 ;
    font-size:13px ;
    font-family: 'Montserrat', sans-serif;
    padding-top: 35px ;

}

.bottomheader{
    background-color: #40494c;
    height: 62px;
    border-bottom: 1px solid #040505;
}

.bottomheader .trongsuot{
    background-color: transparent;
    
}

.bottomheader ul.navbar-nav li.nav-item a.nav-link::after{
            content: "/";
}

.bottomheader ul.navbar-nav li.nav-item a.nav-link{
    text-transform: uppercase;
    font-size: 13px;
    color: #717b7e;
    font-family: 'Montserrat', sans-serif;
    padding: 1px 20px;
}

.bottomheader ul.navbar-nav li.nav-item a.nav-link:hover{
    color: white;
}

.banner{
    background: url("/img/images/bg_banner.jpg") no-repeat center center #f6f6f6;
    height: 700px;
}

h1.text1{
    font-family: 'Montserrat', sans-serif;
    color: #464646;
    font-size: 51px;
    padding-top: 148px;
}

h2.text2{
    font-family: 'Montserrat', sans-serif;
    font-size: 51px;
    color: #f26c4f;
    margin-top: -17px;
    padding-bottom: 35px;
}

p.text3{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #959595;
    line-height: 22px;
}

.thongtin1{
    background: #f6f6f6;
    padding-bottom: 67px;
}

.thongtin1 .textto{
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 45px;
    padding-top: 42px;
    padding-bottom: 34px;
}

.thongtin1 .textnho{
    line-height: 25px;
    font-size: 15px;
    color: #cccccc;
    font-family: 'Montserrat', sans-serif;
}

.thontinsp .text h3{
       font-family:  'Montserrat', sans-serif;   
       color: #353c3e;
       font-size: 16px;
       padding-bottom: 14px;       
}

.thontinsp .text p{
    font-family:  'Montserrat', sans-serif; 
    color: #8f8f8f;
    font-size: 12px;
        
}

.thongtinsp .anh img{
     width: 100%;

}

.thongtinsp.col-sm-3{
    padding-left: 5px;
    padding-right: 5px;
}

.thongtinsp .anh h2{
    color: #f26c4f;
    font-family:  'Montserrat', sans-serif; 
    font-size: 12px;
    padding-bottom: 18px;
    padding-top: 0px;
    padding-left: 41px;
    height: 68px;;
    padding-right: 41px;

}

.thongtinsp .nen{
    background: white;
    border-bottom: 3px solid #eaeaea; 
    height: 483px;
}

.thongtinsp{background: #f6f6f6;}
